@import '../../styles/variables.scss';

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_name {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &_cover {
    width: 600px;
    height: 60px;
  }

  &_nav {
    margin-top: 20px;
  }

  &_title {
    font-size: 22px;
    padding: 0 10px;
  }
}
